* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container-table {
  box-shadow: 5px 0px 20px 0px #888888;
}

.custom-table-wrapper {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  width: 100%;
  /* Ensures the wrapper takes full width */
  overflow-x: auto;
  /* Enables horizontal scroll on small devices */

}

.custom-table {
  background-color: white;
  width: 100%;
  /* Ensures table takes full width of its container */
  min-width: 600px;
  /* Minimum width before scrolling starts */
  width: auto;
  /* tabela tamanho*/

}

.table td,
.table th {
  padding: .75rem;
  /* Aumente ou diminua o preenchimento conforme necessário */
  vertical-align: middle;
  /* Isso mantém o conteúdo da célula alinhado ao meio verticalmente */
}

.custom-table thead th {
  background-color: #007bff;
  color: white;
}

.table td {
  vertical-align: middle;
  /* Vertically centers the content */
}

/* CSS for the sidebar */
.sidebar {
  width: 250px;
  /* Default width */
  transition: all 0.3s;
  /* Smooth transition for collapsing */
}

.sidebar.collapsed {
  width: 0;
  /* Collapses the sidebar */
  overflow: hidden;
  /* Hides content when collapsed */
}

.menu-toggle {
  cursor: pointer;
  /* Changes cursor to indicate it's clickable */
  padding: 0.5rem 1rem;
  /* Padding for the menu toggle */
}

/* Hide less important table columns on small screens */
@media (max-width: 576px) {
  .hide-on-mobile {
    display: none;
    /* Esconde colunas não críticas em telas pequenas */
  }
}

/* Adjust the sidebar for mobile screens */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    /* Makes sidebar fixed position on small screens */
    left: 0;
    top: 0;
    height: 100vh;
    /* Full height */
    z-index: 1000;
    /* Ensures it's above other content */
  }
}

@media (max-width: 768px) {
  .custom-table-responsive {
    overflow-x: auto;
    /* Allows horizontal scrolling on small devices */
  }

  .custom-table-hide-on-mobile {
    display: none;
    /* Hides non-critical columns on small screens */
  }
}

@media (width <=767px) {
  thead {
    display: none;
  }

  table {
    width: 100% !important;
  }

  td {
    display: block !important;
  }

  td::before {
    content: attr(data-label) ": ";
  }

  .content {
    width: 100% !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-left: 1.5rem !important;
  }

  .row {
    margin: 0;
  }

  .action-buttons {
    display: flex !important;
    width: 100%;
    justify-content: flex-start;
  }
}

.resumo-titulo {
  width: 100%;
  background-color: rgb(13, 110, 253);
  color: #fff;
  padding: 10px;
  font-weight: 700;
}

.resumo-box-dados-gerais {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.resumo-box-dados-gerais label {
  font-weight: 700;
  flex-grow: 1;
}

.conteudo-dados-gerais {
  border-bottom: 1px solid;
}

.resumo-dados-gerais-container {
  display: flex;
  flex-wrap: wrap;
}

.custom-modal {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.custom-modal .modal-content {
  width: 70vw;
  height: 90vh;
  overflow: auto;
}

.footer-modal-detalhe-pedido
{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 5px;
  width: 100%;
  transition: 0.5s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}