.backgroud-login {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page {
    width: 80%;
    height: 500px;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 8px 20px 3px rgba(0, 0, 0, 0.7);
}

.left-container-login {
    width: 30%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.right-container-login {
    width: 70%;
    height: 100%;
    background-image: url('../../imgs/maos-carvao-mineral.jpg');
    border-image: fill 0 linear-gradient(#0003,#000);
    background-position: center;
    background-color: transparent;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px; 
    color: #fff;
    font-weight: 700;
}